body {
    background-color: #0f0f1a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background: linear-gradient(90deg, purple, blue);
    padding: 30px;
}

section {
    margin: 30px;
    padding: 20px;
    background-color: #1a1a2e;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #a855f7;
    transform: scale(1.0s);
    box-shadow: 0.0 15px purple;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translate(30pc);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }

}

body {
    animation: aparecer 1.2s ease-out;
}

h1, h2 {
    text-shadow: 0 0 10px #9333ea;
}

.baner img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-bottom: 3px solid purple;
}

.juegos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.juego {
    background-color: #111827;
    padding: 15px;
    border-radius: 12px;
    width: 200px;
    transition: transform 0,3s ease;
}

.juego :hover {
    transform: translate(-10px);
}

.juego img {
    width: 100%;
    border-radius: 10px;
}

.clips {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.clip {
    background-color: #020617;
    padding: 15px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 0 15px rgba(147, 51, 234, 0.4);
    transition: transform 0.3 ease;
}

.clip :hover {
    transform: scale(1.0s);
}

.clip video {
    width: 100%;
    border-radius: 10px;
}